@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  background-color: #1c1c1c;
}

.logoText {
  font-family: 'Secular One', sans-serif;
  font-size: 2rem;
}

.text-center-custom {
  padding: 10px 0;
}

.container-main_justify_align {
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container-main-justify {
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.button-bg-theme-color {
  background-color: #7b2cbf;
}

.theme-color {
  color: #7b2cbf;
}

.bg-theme-color {
  background-color: #fafafc;
}

.border-gray {
  border-color: #adb5bd;
}

.bg-gray {
  background-color: #adb5bd;
}

.border-theme-color {
  border-color: #7b2cbf;
  background-color: white;
  border-width: 2px;
  color: #7b2cbf;
  text-color: #7b2cbf;
}

.text-red {
  color: red;
}

.bg-yellow {
  background-color: #f7b500;

}

.history-title {
  margin-top: 10px;
  font-weight: bold;
}


.ellipsis { 
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
}

.history-box{
  border-radius: 10px;
  border: 1px solid #adb5bd;
  height: 70px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.history-box:hover {
  box-shadow: 0 0 5px #adb5bd;
}

.history-box-sub1{
  border-radius: 10px;
  border-bottom: 1px solid #adb5bd;
  width: 100%;
  max-width: 300px;
  padding: 8px;
}

.history-box-sub2{
  padding-left: 8px;
  padding-right: 8px;

}

.margin-top-1{
  margin-top: 2px;
}

.status-processed {
  background-color: green;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.status-processing {
  background-color: #de9e36;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

